* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.todo-container {
  width: 90%;
  margin: auto;
  border: 1px solid rgb(225, 225, 225);
}

.todo-add {
  display: flex;
  margin: 10px;
}

.todo-input {
  width: 80%;
  height: 45px;
  font-size: 22px;
}

.todo-input:focus {
  outline: none;
}

.todo-btn {
  width: 20%;
  height: 45px;
  overflow: hidden;
  line-height: 17px;
  font-size: 22px;
}

@media screen and (max-width: 600px) {
  .todo-input {
    width: 100%;
  }

  .todo-btn {
    width: 100%;
  }

  .todo-add {
    flex-direction: column;
    gap: 10px;
  }
}

.todo-list-items {
  margin: 10px;
}

.todo-list-correct-item:nth-child(even) {
  padding: 15px 10px;
  background-color: rgb(195, 195, 195);
}

.todo-list-correct-item:nth-child(odd) {
  padding: 15px 10px;
  background-color: rgb(255, 255, 255);
}

.todo-list-correct-item:hover {
  background-color: rgb(172, 172, 172);
  cursor: pointer;
  transition: all 0.1s;
}

.todo-list-complate {
  background-color: rgb(226, 119, 119) !important;
  text-decoration: line-through;
}
